div.card {
  width: "23rem";
  background-color: #343A40;
  color: #fff;
}

#btn-password {
  background-color: transparent;
  color: #f0d890;
  outline-color: #f0d890;
  border-width: 1px ;
  border-color: #f0d890;
}

#btn-password:hover {
  background-color: #f0d890;
  border-color: #f0d890;
  color: #000000;
}