.all-container {
  padding: 20px;
}


.order-item {
  background: #343A40;
  border-radius: 4px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  
}

.order-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.order-item header .order-info {
  margin-left: 10px;
}

.order-info strong {
  display: block;
  font-size: 16px;
  color: #f0d890;
}

.order-item strong {
  color: #f0d890;
}

.order-info span {
  font-size: 13px;
  color: #FFF;
  margin-top: 2px;
}

.order-item p {
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

#btn-order {
  background-color: transparent;
  color: #f0d890;
  outline-color: #f0d890;
  border-width: 1px ;
  border-color: #f0d890;
}

#btn-order:hover {
  background-color: #f0d890;
  border-color: #f0d890;
  color: #000000;
}