@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap");

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
	width: 100%;

	overflow-y: hidden;
	font-family: "Istok Web", sans-serif;
}

body {
  background-image: url("assets/background2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#root {
	overflow-y: auto;

	display: flex;
	flex-direction: column;
}

#carouselExampleControls {
	width: 30%;
	max-height: 100%;
}