ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.user-item {
  background: #343A40;
  border-radius: 4px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}

li.user-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.user-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.user-item header .user-info {
  margin-left: 10px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #FFF;
}

.user-info span {
  font-size: 13px;
  color: #FFF;
  margin-top: 2px;
}

li.user-item p {
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

#btn-user {
  background-color: transparent;
  color: #f0d890;
  outline-color: #f0d890;
  border-width: 1px ;
  border-color: #f0d890;
}

#btn-user:hover {
  background-color: #f0d890;
  border-color: #f0d890;
  color: #000000;
}